.table {
  display: table;
  width: 100%;
  border: none;
  border-collapse: collapse;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;

  tr {

    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  td,
  th {
    vertical-align: top;
    padding: 20px 0;

    &:first-child {
      text-align: left;
    }
  }

  th {
    text-align: inherit;
    border-bottom: 1px solid #c70a00;
    font-weight: 5600;
  }
}