.section {
  text-align: center;
  padding: 90px 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }

  &__container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(2);
    font-family: Lora;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 60px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-color: #c70a00;
      height: 1px;
      width: 60px;
      top: calc(100% + 15px);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__table {
    padding: 20px;
    background-color: #fff;
    box-shadow:
      0px 10px 20px rgba(0, 0, 0, 0.04),
      0px 2px 6px rgba(0, 0, 0, 0.04),
      0px 0px 1px rgba(0, 0, 0, 0.04);

    @include media-min-sm {
      padding: 20px 45px;
    }
  }
}