extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content

  .section
    .section__container
      h2.section__title Стоимость услуг
      .section__table
        table.table
          thead
            tr
              th Количество операций в месяц
              th ОСНО
              th УСН 15
              th УСН 6
          tbody
            tr
              td От 1 до 10
              td 4 000 руб.
              td 3 000 руб.
              td 2 000 руб.
            tr
              td До 30
              td 5 000 руб.
              td 4 000 руб.
              td 2 500 руб.
            tr
              td До 50
              td 6 000 руб.
              td 5 000 руб.
              td 3 000 руб.
            tr
              td До 100
              td 7 000 руб.
              td 6 000 руб.
              td 3 500 руб.

  .section
    .section__container
      h2.section__title Стоимость услуг
      .price-list
        .swiper-container.price-list__slider
          .swiper-wrapper.price-list__wrapper
            .swiper-slide
              .price-list__item
                h3.price-list__item-title Базовый
                .price-list__item-price
                  | 15 000
                  span руб./мес
                .price-list__item-preview
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                button.price-list__item-order Заказать
                ul.price-list__item-advantages
                  li Далеко-далеко за словесными горами
                  li В стране гласных и согласных
                  li Живут рыбные тексты
            .swiper-slide
              .price-list__item
                h3.price-list__item-title Классик
                .price-list__item-price
                  | 20 000
                  span руб./мес
                .price-list__item-preview
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                button.price-list__item-order Заказать
                ul.price-list__item-advantages
                  li Далеко-далеко за словесными горами
                  li В стране гласных и согласных
                  li Живут рыбные тексты
                  li Вдали от всех живут они в буквенных домах
                  li На берегу семантика
                  li Большого языкового океана
            .swiper-slide
              .price-list__item
                h3.price-list__item-title Оптимальный
                .price-list__item-price
                  | 30 000
                  span руб./мес
                .price-list__item-preview
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                button.price-list__item-order Заказать
                ul.price-list__item-advantages
                  li Далеко-далеко за словесными горами
                  li В стране гласных и согласных
                  li Живут рыбные тексты
                  li Вдали от всех живут они в буквенных домах
                  li На берегу семантика
                  li Большого языкового океана
                  li Маленький ручеек даль
                  li Журчит по всей стране
                  li И обеспечивает ее всеми необходимыми правилами
            .swiper-slide
              .price-list__item
                h3.price-list__item-title Премиум
                .price-list__item-price
                  | 50 000
                  span руб./мес
                .price-list__item-preview
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                button.price-list__item-order Заказать
                ul.price-list__item-advantages
                  li Далеко-далеко за словесными горами
                  li В стране гласных и согласных
                  li Живут рыбные тексты
                  li Вдали от всех живут они в буквенных домах
                  li На берегу семантика
                  li Большого языкового океана
                  li Маленький ручеек даль
                  li Журчит по всей стране
                  li И обеспечивает ее всеми необходимыми правилами
                  li Далеко-далеко за словесными горами
                  li В стране гласных и согласных
                  li Живут рыбные тексты
                  li Вдали от всех живут они в буквенных домах
        .price-list__scrollbar