.price-list {
  text-align: left;

  &__slider {

    @include media-min-md {
      overflow: visible;
    }
  }

  &__wrapper {

    @include media-min-md {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    background-color: #fff;
    font-family: Lato;
    padding: 30px 20px;

    @include media-min-sm {
      padding: 45px 30px;
    }

    @include media-min-md {
      box-shadow:
        0px 10px 20px rgba(0, 0, 0, 0.04),
        0px 2px 6px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
    }
  }

  &__item-title {
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 45px;
    font-weight: 500;
    font-family: Lora;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: calc(100% + 15px);
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #c70a00;
    }
  }

  &__item-price {
    font-size: 39px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;

    span {
      font-size: 14px;
      margin-left: 5px;
    }
  }

  &__item-preview {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    opacity: 0.5;
  }

  &__item-order {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    width: 100%;
    background-color: #c70a00;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.02em;
    border-radius: 0;
    border: none;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-family: Lato;
    cursor: pointer;
  }

  &__item-advantages {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 20px;
      position: relative;
      padding-left: 19px;

      &::before {
        position: absolute;
        content: '';
        top: 4px;
        left: 0;
        width: 10px;
        height: 9px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 9'%3E%3Cpath fill='%23C70A00' d='M8.94166.223304L3.02352 6.16563 1.431 4.30659c-.702182-.59527-1.805892.09801-1.30447.99039l1.89318 3.24558c.30066.39615 1.00382.79231 1.70503 0 .30066-.39615 6.019-7.42791 6.019-7.42791.70316-.792308-.19979-1.485579-.80208-.891346z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__scrollbar {
    margin-top: 30px;
    height: 1px;
    background-color: rgba($text-color, 0.125);

    @include media-min-md {
      display: none;
    }

    .swiper-scrollbar-drag {
      background-color: #c70a00;
    }
  }
}