@font-face {
  font-family: Lora;
  src:
    url('../fonts/lora-variable-font.woff2') format('woff2 supports variations'),
    url('../fonts/lora-variable-font.woff2') format('woff2-variations');
  font-weight: 400 700;
}

@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-regular.woff2') format('woff2'),
    url('../fonts/lato-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-semibold.woff2') format('woff2'),
    url('../fonts/lato-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}